{% extends "base.html" %}
{% load i18n %}

{%block conteudo%}

<div class="scrollable wrapper">
    <div class="box-info">
      <h3><b>Editar atividade</b></h3><hr>


        <form method= "POST" action ="/atividade_editar/{{atividade.id}}/" data-ajax="false" class="form-horizontal"  enctype="multipart/form-data">
        {% csrf_token %}

        <table style="display: table; border-spacing:7px; border-collapse: separate;">
        {%for field in atividade_editar%}
          <tr>
            <td>{{field.label}}</td>
            <td>{{ field }}</td>
          </tr>
        {%endfor%}
        </table><br>

        <a href="/atividade_lista/"><button type="button" class="btn btn-warning" style="border-radius:1em">Voltar</button></a>
        <button type="submit" class="btn btn-warning" style="border-radius:1em">Salvar</button>
        </form>

    </div>
</div>
{%endblock conteudo%}
</html>
