{% extends "base.html" %}
{% load i18n %}

{%block conteudo%}

<div class="scrollable wrapper">

        <div class="box-info">
            <h3><b>Cursos cadastrados</b></h3>
            <hr>
            <div class="widget-content no-padding">
                <div class="widget-content-inner">
                    <table class="display table table-bordered table-striped table-hover dataTable" id="dynamic-table" >
                        <thead>
                            <tr>
                                <th>Curso</th>
                                <th>Participantes</th>
                                <th></th>
                                {%if adm%}
                                <th> </th>
                                {%endif%}

                            </tr>
                        </thead>
                        <tbody>
                            {% for curso in lista_curso %}
                            <tr>
                                <td><a href='/participante_dinamica3/{{curso.id}}'>{{curso.nome}}</a></td>
                                <td>{{curso.participantes}}</td>
                                <td><a href="/curso_editar/{{curso.id}}"><button type="button" class="btn btn-warning" style="border-radius:1em">Editar</button></a></td>
                                {%if adm%}
                                <td><a href="/curso_excluir/{{curso.id}}" OnClick= "return confirm('Tem certeza que quer excluir este cadastro? Esta ação não poderá ser desfeita.')"><button type="button" class="btn btn-warning" style="border-radius:1em">Excluir</button></a></td>
                                {%endif%}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

    </div>
</div>
{%endblock conteudo%}
</html>
