<html>
{% extends "base.html" %}
{% load i18n %}
{%block conteudo%}

<div class="row">
<!--col-md-12 start-->
      <div class="col-md-12">
            <div class="page-heading">
            </div>
      </div><!--col-md-12 start-->
</div><!--row end-->
<div>
<!--col-md-12 start-->

 <div style="margin-top:75px;margin-left:30px">

              <h1>Seja bem-vindo(a) ao SI SCE</h1>

            <hr>
        <div class="widget-body">
          <table>
            <thead>
              <th></th>
              <th></th>
            </thead>
            <tbody>
              <tr class="odd gradeA">
                <td>
                  <tr><a href="/participante_cadastrar/"><button type="button" class=" btn-warning" style="margin-top: 8px;padding:2px; width: 150px; border-radius:1em">Cadastrar participante</button></a></tr>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

  </div>
</div>
{%endblock conteudo%}
</html>
