{% extends "base.html" %}
{% load i18n %}

{%block conteudo%}
<div class="scrollable wrapper">
    <div class="box-info">



        <form method= "POST" action ="/participante_editar/{{participante.id}}/" data-ajax="false" class="form-horizontal"  enctype="multipart/form-data">
        {% csrf_token %}
        <h3><b>Editar informações pessoais</b></h3> <hr>
        <table style="display: table; border-spacing:7px; border-collapse: separate;">
        {%for field in participante_editar%}
          <tr>
            <td>{{field.label}}</td>
            <td>{{ field }}</td>
          </tr>
        {%endfor%}
        </table><br>
        <a href="/participante_visualizar/{{participante.id}}"><button type="button" class="btn btn-warning" style="border-radius:1em">Voltar</button></a>
        <button input type="submit" id = "test" class="btn btn-warning" style="border-radius:1em">Salvar</button>

        </form>
    </div>
</div>
<script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.maskedinput.min.js"></script>
<script type="text/javascript">
$("#id_telefone").mask("(99)99999-9999",{placeholder:""});
$("#id_ano_ingresso").mask("9999",{placeholder:""});
$("#test").click(function() {
    var all = true;
    var x = 0;
    var y = $(':input:text').length;
    $(':input:text').each(function() {
        if (this.value == "") {
          x = x + 1;
          all = false;
        }
    });
    if (all) return true;
    alert("Existem campos vazios!");
    return false;
});

</script>
{%endblock conteudo%}
</html>
